<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>purecss.io</title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
	    <!--[if lte IE 8]>
	        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	    <![endif]-->
	    <!--[if gt IE 8]><!-->
	        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	    <!--<![endif]-->

		<link rel="stylesheet" href="css/layout.css">
	</head>
	<body>
		<div id="wrap" class="pure-g">
			<div class="sidebar pure-u-1 pure-u-md-1-4">
				<div class="header">header</div>
			</div>

			<div class="content pure-u-1 pure-u-md-3-4">
				<div class="posts">

					<div class="pure-g" style="padding: 15px;">
						<div class="pure-u-1-6" style="background:#EAF6F7">
							<span >#EAF6F7</span>
						</div>
						<div class="pure-u-1-6" style="background:#C7E4DB">
							<span>#C7E4DB</span>
						</div>
						<div class="pure-u-1-6" style="background:#8FBCA7">
							<span>#8FBCA7</span>
						</div>
						<div class="pure-u-1-6" style="background:#959C67">
							<span>#959C67</span>
						</div>
						<div class="pure-u-1-6" style="background:#EEC697">
							<span>#EEC697</span>
						</div>
						<div class="pure-u-1-6" style="background:#EFE6DD">
							<span>#EFE6DD</span>
						</div>
					</div>

				</div>

				<div class="footer">
					<div class="pure-menu pure-menu-horizontal">
						<ul>
							<li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
							<li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
							<li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">GitHub</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


	</body>
</html>
