/*
    colors
	#EAF6F7, #C7E4DB, #8FBCA7, #959C67, #EEC697, #EFE6DD
*/

#wrap {background:#EFE6DD;}
#main {}
#footer {background:#959C67;}

#header {height:50px; background:#C7E4DB;}
#nav {height:50px; background:#8FBCA7;}
#section {height:auto;}