<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>purecss.io</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	<!--<![endif]-->
	<link rel="stylesheet" href="../pureness/css/pureness.css">
	<link rel="stylesheet" href="css/pureness-button.css">
</head>
<body>
	<h1>Purecss Button</h1>

	<div class="pure-wrap">
		<h2>Default Button</h2>

		<button>Default Button</button>

	</div>

	<hr />

	<div class="pure-wrap">
		<h2>Purecss Button</h2>

		<button class="pure-button">Default Button</button>
	</div>

	<hr />

	<div class="pure-wrap">
		<h2>Purecss Padding-Size Button</h2>

		<button class="pure-button pure-double-button">Double Button</button>
		<button class="pure-button pure-triple-button">Triple Button</button>
		<button class="pure-button pure-quad-button">Quad Button</button>
	</div>

	<hr />

	<div class="pure-wrap">
		<h2>Purecss Font-Size Button</h2>

		<button class="pure-button pure-125-button">125 Button</button>
		<button class="pure-button pure-150-button">150 Button</button>
		<button class="pure-button pure-175-button">175 Button</button>
	</div>

	<hr />

	<div class="pure-wrap">
		<h2>Purecss Radius Button</h2>

		<button class="pure-button pure-radius-button">Default Button</button>
	</div>

	<hr />

</body>
</html>
