/* ---- member-form ---- */
.pureness-member-form {
    width: 100%;
    border: 0px;
}
.pureness-member-form .pureness-g {
    margin-bottom: 10px;
}
.pureness-member-form input, .pureness-member-form button, .pureness-member-form span {
    height: 40px;
}
.pureness-member-form .title {
    font-weight: bold;
    line-height: 24px;
}
.pureness-member-form .error {
    font-weight: lighter;
    font-size: 14px;
    line-height: 24px;
    color: #FF0000;
}

/* ---- member-info ---- */
.pureness-member-info {
    width: 100%;
    border: 0px;
}
.pureness-member-info .pureness-g {
    margin-bottom: 10px;
}
.pureness-member-info button, .pureness-member-info-form span {
    height: 40px;
}
.pureness-member-info .title {
    font-weight: bold;
    line-height: 24px;
}
.pureness-member-info .info {
    display: block;
    border-bottom: 1px solid #CCC;
    padding: 8px 9px;
    vertical-align: middle;
    box-sizing: border-box;
    color: #2E2E2E;
}
.pureness-member-info .complete {
    display: block;
    border-bottom: 1px solid #CCC;
    padding: 8px 9px;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
    color: #2E2E2E;
    line-height: 40px;
}

/* ---- member-buttons ---- */
.pureness-member-buttons {
    text-align: center;
    margin-top: 20px;
}
.pureness-member-buttons .full {
    width: 100%;
    height: 40px;
}

/* ---- member-links ---- */
.pureness-member-links {
    text-align: center;
    margin-top: 20px;
}
.pureness-member-links a {
    color: #353535;
    text-decoration: none;
    padding-left: 20px;
}

/* ---- member-list ---- */
.pureness-member-list {
    width: 100%;
    border: 0px;
}
.pureness-member-list th, .pureness-member-list td {
    border: 0px;
}
.pureness-member-list th {
    text-align: center;
}
.pureness-member-list td {
    font-weight: lighter;
    border-bottom: 1px solid #CBCBCB;
}
.pureness-member-list a {
    text-decoration: none;
}

/* ---- member-buttons ---- */
.pureness-member-buttons {
    text-align: right;
}