/* ---- board-list ---- */
.pure-board-list {
    margin: 50px 0;
    width: 100%;
    border: 0px;
}
.pure-board-list tbody {
    border-top: 1px solid #CBCBCB;
}
.pure-board-list th, .pure-board-list td {
    border: 0px;
}
.pure-board-list th {
    text-align: center;
}
.pure-board-list td {
    font-weight: lighter;
    border-bottom: 1px solid #CBCBCB;
}
.pure-board-list a {
    text-decoration: none;
}

/* ---- pure-board-buttons ---- */
.pure-board-buttons {
    text-align: right;
    margin: 50px 0;
}
.pure-button {
    margin: 10px;
    padding: 10px 20px;
}

/* ---- board-form ---- */
.pure-board-form {
    width: 100%;
    margin: 50px 0;
}
.pure-board-form div {
    margin: 20px 0px;
    text-align: center;
}
.pure-board-form input[type=text] {
    width: 95%;
    height: 50px;
}
.pure-board-form textarea {
    width: 95%;
    height: 100px;
}

/* ---- pure-pagination ---- */
.pure-pagination {
    margin: 50px 0;
}

.pure-pagination ul {
    list-style: none;
    text-align: center;
}

.pure-pagination li {
    display: inline;
    padding: 0 5px;
}

.pure-pagination a {
    display: inline-block;
    margin-right: 3px;
    padding: 4px 13px;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;;
    text-decoration: none;
    color: #CBCBCB;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pure-pagination a:hover {
    color: #CBCBCB;
}

.pure-pagination .active>a {
    font-weight: bold;
    color: #000000;
}