/* ---- setting-list ---- */
.pureness-setting-list {
    width: 100%;
}

.pureness-setting-list th, td {
    text-align: center;
}

.pureness-setting-list td {
    font-weight: lighter;
}

.pureness-setting-list a {
    text-decoration: none;
}
.pureness-setting-list i {
    padding: 0 10px;
}

.pureness-setting-list .title {
    text-align: left;
}

.pureness-setting-list .edit {
    color: #1f8dd6;
}

.pureness-setting-list .delete {
    color: #dd514c;
}

/* ---- pure-buttons ---- */
.pureness-setting-buttons {
    text-align: right;
}