/* ---- setting-list ---- */
.pure-setting-list {
    width: 100%;
}

.pure-setting-list th {
    text-align: center;
}

.pure-setting-list td {
    font-weight: lighter;
}

.pure-setting-list a {
    text-decoration: none;
}
.pure-setting-list i {
    padding: 0 10px;
}

.pure-setting-list .edit {
    color: #1f8dd6;
}

.pure-setting-list .delete {
    color: #dd514c;
}

/* ---- pure-buttons ---- */
.pure-setting-buttons {
    text-align: right;
}