<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>purecss.io</title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
		<!--<![endif]-->
		<link rel="stylesheet" href="css/board.css">
		<style type="text/css">
			h1{
				padding: 0.6em 0.6em; 
			}
			.content {
				width: 1000px;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<h1>Pureness Board Template</h1>

		<div class="content">
			<h2>
				게시판
				<small>등록</small>
			</h2>

			<div class="section">
				<div class="pure-form  pure-board-write">
					<div class="pure-g">
						<div class="pure-u-1-5">
							<b>게시판명</b>
						</div>
						<div class="pure-u-2-5">
							<input class="pure-input-1" type="text" placeholder="">
						</div>
					</div>

					<div class="pure-g">
						<div class="pure-u-1-5">
							<b>댓글</b>
						</div>
						<div class="pure-u-4-5">
							<label for="label1-1">사용</label>
							<input id="label1-1" type="radio" name="comment_use_yn" value="Y" />
							<label for="label1-2">미사용</label>
							<input id="label1-2" type="radio" name="comment_use_yn" value="N" checked="checked" />
						</div>
					</div>

					<div class="pure-g">
						<div class="pure-u-1-5">
							<b>답글</b>
						</div>
						<div class="pure-u-4-5">
							<label for="label3-1">사용</label>
							<input id="label3-1" type="radio" name="reply_use_yn" value="Y" />
							<label for="label3-2">미사용</label>
							<input id="label3-2" type="radio" name="reply_use_yn" value="N" checked="checked" />
						</div>
					</div>

					<div class="pure-g">
						<div class="pure-u-1-5">
							<b>비밀글</b>
						</div>
						<div class="pure-u-4-5">
							<label for="label2-1">사용</label>
							<input id="label2-1" type="radio" name="secret_use_yn" value="Y" />
							<label for="label2-2">미사용</label>
							<input id="label2-2" type="radio" name="secret_use_yn" value="N" checked="checked" />
						</div>
					</div>

					<div class="pure-g">
						<div class="pure-u-1-5">
							<b>페이지 갯수</b>
						</div>
						<div class="pure-u-1-5">
							<input class="pure-input-1" type="text" placeholder="">
						</div>
					</div>

					<div class="pure-g">
						<div class="pure-u-1-5">
							<b>목록 갯수</b>
						</div>
						<div class="pure-u-1-5">
							<input class="pure-input-1" type="text" placeholder="">
						</div>
					</div>

				</div>

				<div class="pure-btn-group">
					<a href="#" class="pure-button">등록</a>
					<a href="#" class="pure-button">취소</a>
				</div>
			</div><!-- .section -->

		</div><!-- .content -->
	
	</body>
</html>
