<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>purecss.io</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../pureness/css/pureness.css">
    <link rel="stylesheet" href="../../component/css/pureness-pagination.css">
    <link rel="stylesheet" href="css/board.css">
    <style type="text/css">
        .content {
            width: 1000px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="content">

        <h2>게시판
            <small>조회</small>
        </h2>

        <div class="section">
            <div class="pure-form pure-board-view">
                <div class="title">
                    <span>가나다라 마바사</span>
                    <div class="date">
                        <span>등록일 2018-12-25 15:22:35 / 수정일 2018-12-26 15:25:55</span>
                    </div>
                </div>

                <div class="content">
                    <p>
                        가나다라 마바사<br />
                        가나다라 마바사<br />
                        가나다라 마바사<br />
                        가나다라 마바사<br />
                        가나다라 마바사<br />
                        가나다라 마바사<br />
                        가나다라 마바사<br />
                    </p>
                </div>
            </div><!-- .pure-board-view -->

            <div class="pure-board-buttons">
                <a href="#" class="pure-button pure-button-primary">수정</a>
                <a href="#" class="pure-button">삭제</a>
                <a href="#" class="pure-button">목록</a>
            </div><!-- .pure-board-buttons -->

            <div class="pure-form pure-reply">
                <div class="pure-reply-list">
                    <ul>
                        <li>
                            <form id="#id1">
                                <div class="info">
                                    <span class="register">심폴라</span>
                                    <span class="date">2020-03-08 13:11:55</span>
                                </div>
                                <div class="content">
                                    <p>
                                        추천을 10개 박고 싶네요
                                    </p>
                                </div>
                            </form>
                        </li>
                        <li>
                            <form id="#id2">
                                <div class="info">
                                    <span class="register">심폴라</span>
                                    <span class="date">2020-03-08 13:11:55</span>
                                </div>
                                <div class="content">
                                    <p>
                                        추천을 10개 박고 싶네요
                                    </p>
                                </div>
                                <div class="buttons">
                                    <button class="pure-button pure-button-primary">수정</button>
                                    <button class="pure-button">삭제</button>
                                </div>
                            </form>
                        </li>
                        <li>
                            <form id="#id3">
                                <div class="info">
                                    <span class="register">심폴라</span>
                                    <span class="date">2020-03-08 13:11:55</span>
                                </div>
                                <div class="content">
                                    <textarea>추천을 10개 박고 싶네요</textarea>
                                </div>
                                <div class="buttons">
                                    <button class="pure-button pure-button-primary">완료</button>
                                    <button class="pure-button">취소</button>
                                </div>
                            </form>
                        </li>
                        <li>
                            <form id="#id4">
                                <div class="info">
                                    <span class="register">심폴라</span>
                                    <span class="date">2020-03-08 13:11:55</span>
                                </div>
                                <div class="content">
                                    <p>
                                        추천을 10개 박고 싶네요<br/>
                                        추천을 10개 박고 싶네요. 한번 더<br/>
                                    </p>
                                </div>
                            </form>
                        </li>
                        <li>
                            <form id="#id5">
                                <div class="info">
                                    <span class="register">심폴라</span>
                                    <span class="date">2020-03-08 13:11:55</span>
                                </div>
                                <div class="content">
                                    <p>
                                        추천을 10개 박고 싶네요<br/>
                                        추천을 10개 박고 싶네요. 한번 더<br/>
                                        추천을 10개 박고 싶네요. 두번 더<br/>
                                        추천을 10개 박고 싶네요. 세번 더<br/>
                                    </p>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div><!-- pure-reply-list -->

                <div class="pure-reply-register">
                    <form id="#register">
                        <div class="info">
                            <span class="register">댓글 등록</span>
                        </div>
                        <div class="content">
                            <textarea></textarea>
                        </div>
                        <div class="buttons">
                            <button class="pure-button pure-button-primary">등록</button>
                            <button class="pure-button">취소</button>
                        </div>
                    </form>
                </div>
            </div><!-- pure-reply-register -->

        </div><!-- .section -->

    </div><!-- .content -->
</body>
</html>
