<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>purecss.io</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="../../pureness/css/pureness.css">
    <link rel="stylesheet" href="css/pureness-member.css">
    <style type="text/css">
        .content {
            width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="content">

    <h2>회원정보
        <small>비밀번호 변경</small>
    </h2>

    <div class="section">
        <form>
            <div class="pure-form pureness-member-form">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <span class="title">아이디</span>
                        <input class="pure-input-1" type="text">
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1">
                        <span class="title">기존 비밀번호</span>
                        <input class="pure-input-1" type="password">
                        <span class="error">기존 비밀번호가 일치하지 않습니다.</span>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1">
                        <span class="title">변경할 비밀번호</span>
                        <input class="pure-input-1" type="password">
                        <span class="error">사용할 수 없는 비밀번호입니다.</span>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1">
                        <span class="title">변경할 비밀번호 확인</span>
                        <input class="pure-input-1" type="password">
                        <span class="error">두 비밀번호가 일치하지 않습니다.</span>
                    </div>
                </div>
            </div><!-- .pure-member-form -->
        </form>

        <div class="pureness-member-buttons">
            <div class="pure-g">
                <div class="pure-u-1">
                    <button class="pure-button pure-button-primary full">변경하기</button>
                </div>
            </div>
        </div><!-- .pure-member-buttons -->

    </div><!-- .section -->

</div><!-- .content -->

</body>
</html>