/*
    colors
	#EAF6F7, #C7E4DB, #8FBCA7, #959C67, #EEC697, #EFE6DD
*/

#wrap {
	background:#EFE6DD;
}

#main {}

#footer {
	background:#959C67;
}

#header {
	height:50px; 
	background:#C7E4DB;
}

#nav {
	height:50px; 
	background:#8FBCA7;
}

#section {
	
}

#aside { 
	height:auto; 
	background:#EEC697;
}

#content {}

@media (min-width: 48em) {
	#section {
		padding-left:200px;
	}
	
	#aside {
		position:fixed; 
		top:0; 
		bottom:0; 
		margin-top:100px; 
		margin-left:-200px; 
		width:200px; 
		background:#EEC697;
	}
	
	#content { }
}

@media (max-width: 48em) {
	#section { }
	
	#aside { 
		height:auto; 
		background:#EEC697;
	}
	
	#content {}
}