/*---- .board-nav start ----*/
.board-nav {
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin-top: 30px;
}
.board-nav-title {
	width: 900px;
	margin: 0 auto;
}
.board-nav-title>span {
	font-weight: bold;
	font-size: 16px;
}
/*---- .board-nav end ----*/


/*---- .board-search start ----*/
.board-search {
	width: 100%;
	min-width: 1000px;
	height: 100px;
	border-bottom: 1px solid #DCDCDC;
}
.board-search fieldset {
	width: 700px;
	border: 0;
	margin: 0 auto;
}
.board-search legend {
	display: none;
}
.board-search p {
	padding-top: 10px;
}
.board-search-condition {
	width: 150px;
	height: 40px;
	margin-right: 2px;
	border: 1px solid #DCDCDC;
}
.board-search-word {
	width: 440px;
	height: 38px;
	margin-right: 2px;
	border: 1px solid #DCDCDC;
}
.board-search-btn {
	width: 90px;
	height: 40px;
	background: red;
	margin-top: -4px;
	margin-right: 2px;
	border: 1px solid #DCDCDC;
	background: #CACACA;
}
/*---- .board-search end ----*/


/*---- .board-list start ----*/
.board-list {
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin: 20px 0;
}
.board-list table {
	width: 900px;
	margin: 0 auto;
}
.board-list caption {
	display: none;
}
.board-list thead {
	background: #D8D8D8;
}
.board-list thead>tr {
	height: 40px;
	border-bottom: 1px solid #C6C6C6;
}
.board-list thead>tr>th {
	text-align: center;
}
.board-list tbody { }
.board-list tbody>tr {
	height: 35px;
	border-bottom: 0.5px solid #C6C6C6;
}
.board-list tbody>tr>td {
	text-align: center;
}
/*---- .board-list end ----*/


/*---- .board-write start ----*/
.board-write {
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin: 20px 0;
}
.board-write table {
	width: 900px;
	margin: 0 auto;
}
.board-write caption {
	display: none;
}
.board-write thead { }
.board-write thead>tr {
	height: 40px;
}
.board-write thead>tr>th {
	text-align: left;
}
.board-write tbody { }
.board-write tbody>tr {
	height: 100%;
}
.board-write tbody>tr>td {
	text-align: left;
}
.board-write-title {
	width: 890px;
	height: 38px;
	margin: 3px;
	padding: 2px 0;
	border: 1px solid #C6C6C6;
	font-weight: normal;
}
.board-write-content {
	width: 890px;
	height: 500px;
	margin: 3px;
	padding: 2px 0;
	border: 1px solid #C6C6C6;
	font-weight: normal;
}
/*---- .board-write end ----*/


/*---- .board-view start ----*/
.board-view {
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin: 20px 0;
}
.board-view table {
	width: 900px;
	margin: 0 auto;
}
.board-view caption {
	display: none;
}
.board-view thead { }
.board-view thead>tr {
	height: 45px;
}
.board-view thead>tr>th {
	width: 890px;
	height: inherit;
	line-height: 45px;
	text-align: center;
	padding: 5px;
	border-top: 1px solid #C6C6C6;
	border-bottom: 1px solid #C6C6C6;
}
.board-view tbody { }
.board-view tbody>tr {
	height: 100%;
}
.board-view tbody>tr>td {
	width: 890px;
	height: 500px;
	text-align: left;
	vertical-align: top;
	padding: 5px;
	border: 1px solid #C6C6C6;
}
/*---- .board-view end ----*/


/*---- .reply-list start ----*/
.reply-list {
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin: 20px 0;
}
.reply-list table {
	width: 900px;
	margin: 0 auto;
}
.reply-list caption {
	display: none;
}
.reply-list thead { 
	text-align: left;
}
.reply-list thead>tr {
	height: 40px;
}
.reply-list thead>tr>th {
	text-align: left;
}
.reply-list tbody { }
.reply-list tbody>tr {
	height: 40px;
	border-bottom: 1px solid #C6C6C6;
}
.reply-list tbody>tr>td {
	text-align: left;
	line-height: 35px;
}
.reply-list-content {
	width: 650px;
	height: 80x;
	margin-top: 10px;
	line-height: 30px;
	border: 1px solid #C6C6C6;
}
/*---- .reply-list end ----*/


/*---- .reply-write start ----*/
.reply-write {
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin: 20px 0;
}
.reply-write table {
	width: 900px;
	margin: 0 auto;
}
.reply-write caption {
	display: none;
}
.reply-write thead { 
	text-align: left;
}
.reply-write thead>tr {
	height: 40px;
}
.reply-write thead>tr>th {
	text-align: left;
}
.reply-write tbody { }
.reply-write tbody>tr {
	height: 40px;
	border-bottom: 1px solid #C6C6C6;
}
.reply-write tbody>tr>td {
	text-align: left;
	line-height: 35px;
}
.reply-write-content {
	width: 650px;
	height: 80x;
	margin-top: 10px;
	line-height: 30px;
	border: 1px solid #C6C6C6;
}
/*---- .board-write end ----*/


/*---- .board-btn start ----*/
.board-btn {
	width: 100%;
	min-width: 1000px;
	height: 30px;
	margin: 10px 0;
}
.board-btn-list {
	width: 900px;
	height: inherit;
	margin: 0 auto;
}
.board-btn-group {
	float: right;
	width: auto;
	height: inherit;
}
.board-btn-group a {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;;
	text-decoration: none;
	color: #000;
	margin: 0 10px;
}
.board-btn-group a:active {
	color: #000;
}
/*---- .board-btn end ----*/


/*---- .board-pagination start ----*/
.board-pagination {
	text-align: center; 
	margin: 20px;
}
.board-pagination a, .board-pagination strong {
    display: inline-block;
	background: #FFF;
    margin-right: 3px;
    padding: 4px 13px;
	font-size: 16px;
	line-height: 20px;;
	text-decoration: none;
	color: #4A4A4A;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.board-pagination a:hover { 
	color: #FFBB00;
}
.board-pagination a:active {
	background: #D5D5D5;
}
.board-pagination strong {
	color: #000;
}
/*---- .board-pagination end ----*/