/* ---- board-list ---- */
.pure-board-list {
    width: 100%;
    border: 0px;
}
.pure-board-list th, .pure-board-list td {
    border: 0px;
}
.pure-board-list th {
    text-align: center;
}
.pure-board-list td {
    font-weight: lighter;
    border-bottom: 1px solid #CBCBCB;
}
.pure-board-list a {
    text-decoration: none;
}

/* ---- board-form ---- */
.pure-board-form {
    width: 100%;
}
.pure-board-form .title, .pure-board-form .content {
    margin-bottom: 10px;
}
.pure-board-form .title>input {
    width: 100%;
}
.pure-board-form .content>textarea {
    width: 100%;
    height: 350px;
    resize: none;
}

/* ---- board-view ---- */
.pure-board-view {
    width: 100%;
}
.pure-board-view .title, .pure-board-view .content {
    pointer-events: none;
    margin-bottom: 10px;
}
.pure-board-view .title {
    border-bottom: 1px solid #CCC;
}
.pure-board-view .title {
    font-weight: bold;
    padding: .5em .6em;
    vertical-align: middle;
    box-sizing: border-box;
}
.pure-board-view .date {
    font-weight: lighter;
    font-size: 10px;
    padding-top: 5px;
    color: #7f8c8d;
}
.pure-board-view .content>p {
    width: 100%;
    min-height: 350px;
    resize: none;
    margin: 0;
    padding: .5em .6em;
    border: 1px solid #CCC;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

/* ---- reply-list ---- */
.pure-reply {
    width: 100%;
    margin: 50px 0;
}

.pure-reply-list {
    width: 100%;
    margin-bottom: 20px;
    border: 0px;
}
.pure-reply-list thead {
    background: #FFF;
}
.pure-reply-list thead th {
    text-align: left;
}
.pure-reply-list tbody th, .pure-reply-list tbody td {
    border: 0px;
}
.pure-reply-list tbody th {
    text-align: center;
    border-bottom: 1px solid #CBCBCB;
}

.pure-reply-list tbody td {
    font-weight: lighter;
    border-bottom: 1px solid #CBCBCB;
}
.pure-reply-list a {
    text-decoration: none;
}
.pure-reply-list textarea {
    width: 100%;
    height: 60px;
    resize: none;
}
.pure-reply-list .edit {
    color: #1f8dd6;
}
.pure-reply-list .delete {
    color: #dd514c;
}

/* ---- reply-form ---- */
.pure-reply-form {
    width: 100%;
    margin-top: 50px;
}
.pure-reply-form .title, .pure-reply-form .content {
    margin-bottom: 10px;
}
.pure-reply-form .title>span {
    font-weight: bold;
}
.pure-reply-form .content>textarea {
    width: 100%;
    height: 90px;
    resize: none;
}
.pure-reply-form .button {
    text-align: right;
}

/* ---- search ---- */
.pure-board-search {
    width: 100%;
    height: 65px;
    margin: 20px 0;
    border: 1px solid #CBCBCB;
}
.pure-board-search select, .pure-board-search input, .pure-board-search button {
    margin: 15px 0;
    height: 38px;
}
.pure-board-search select {
    width: 95%;
    line-height: 38px;
    margin-left: 5px;

}
.pure-board-search input {
    width: 99%;
}
.pure-board-search button {
    width: 95%;
}

/* ---- pure-buttons ---- */
.pure-board-buttons {
    text-align: right;
}

/* ---- pagination ---- */
.pure-pagination {
    text-align: center;
    margin: 20px 0;
}
.pure-pagination a, .pure-pagination strong {
    display: inline-block;
    background: #FFF;
    margin-right: 3px;
    padding: 4px 13px;
    font-size: 16px;
    line-height: 20px;;
    text-decoration: none;
    color: #4A4A4A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pure-pagination a:hover {
    background-color: #BEBEBE;
    color: #FFF;
}
.pure-pagination a:active {
    background: #D5D5D5;
}
.pure-pagination strong {
    color: #1f8dd6;
}
