/*
 * Copyright Simpolor
 */

/* ---- pure-balloon ---- */
.pure-balloon {
    display: inline-block;
    position: relative;
    margin: 0 auto 10px;
    padding: 10px;
    background: #E0E0E0;
    border-radius: 2px;
}

.pure-balloon-top:after {
    content: '';
    position: absolute;
    left: 15px;
    top: -10px;
    border-bottom: 10px solid #E0E0E0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.pure-balloon-left:after {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    border-top: 7px solid transparent;
    border-right: 10px solid #E0E0E0;
    border-bottom: 7px solid transparent;
}
.pure-balloon-right:after {
    content: '';
    position: absolute;
    top: 10px;
    right: -10px;
    border-top: 7px solid transparent;
    border-left: 10px solid #E0E0E0;
    border-bottom: 7px solid transparent;
}
.pure-balloon-bottom:after {
    content: '';
    position: absolute;
    left: 15px;
    bottom: -10px;
    border-top: 10px solid #E0E0E0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

/* ---- pure-list ---- */
.pure-list {
    padding-left: 15px;
    line-height: 24px;
}

.pure-list-none {
    list-style: none;
    padding: 0;
}

/* ---- loader ---- */
.pure-loader {
    display: inline-block;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}