#wrap { padding: 0; }
#sidebar { background: #A4A4A4; color: #FFFFFF; }
#content { padding: 30px 15px; }
#header { text-align: center; top: auto; margin: 3em auto; }
#footer { padding: 1em 0; }
#footer a { color: #ccc; font-size: 80%; }
#footer .pure-menu a:hover, #footer .pure-menu a:focus { background: none; }


@media (min-width: 48em) {
	#content { margin-left: 25%; }
	#header { margin: 80% 30px 0; text-align: right; }
	#sidebar { position: fixed; top: 0; bottom: 0; }
	#footer { text-align: center; }
}