#wrap { background: #FAFAFA; }
#main {}
#footer { background: #848484; }
#header { height: 50px; background: #A4A4A4; }
#section { }
#aside { height: auto; background: #D8D8D8; }
#content { padding: 30px 15px; }

@media (min-width: 48em) {
	#section { padding-left: 300px; }
	#aside {
		position:fixed; 
		top:0; 
		bottom:0; 
		margin-top:50px;
		margin-left:-300px;
		width:300px;
	}
	#content { }
	#footer { margin-left: 300px; }
}

@media (max-width: 48em) {
	#section { }
	#aside { height: auto; }
	#content { }
}