<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>purecss.io</title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
	    <!--[if lte IE 8]>
	        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	    <![endif]-->
	    <!--[if gt IE 8]><!-->
	        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	    <!--<![endif]-->
		<link rel="stylesheet" href="css/stickyfooter.css">
		<link rel="stylesheet" href="css/layout.css">
		<link rel="stylesheet" href="../../purecss-extension-css/purecss-common.css">
		
	</head>
	<body>
		<div id="wrap">
			<div id="main">

				<div id="header">
					<div class="pure-txt-center">
						header
					</div><!-- .pure-u-1-1 -->
				</div><!-- #header .pure-g -->
				
				<div id="nav">
					<div class="pure-txt-center">
						nav
					</div><!-- .pure-u-1-1 -->
				</div><!-- #nav .pure-g -->
				
				<div id="section">
					<div id="aside" style="text-align: center;">
						aside
					</div><!-- #aside -->

					<div id="content">
						<span style="background:#EAF6F7">#EAF6F7</span>
						<span style="background:#C7E4DB">#C7E4DB</span>
						<span style="background:#8FBCA7">#8FBCA7</span>
						<span style="background:#959C67">#959C67</span>
						<span style="background:#EEC697">#EEC697</span>
						<span style="background:#EFE6DD">#EFE6DD</span>
					</div><!-- #content -->
				</div><!-- #aside -->

			</div><!-- #main -->
		</div><!-- #wrap -->

		<div id="footer">
			<div class="pure-txt-center">
				footer
			</div><!-- .pure-u-1-1 -->
		</div><!-- #footer .pure-g -->

	</body>
</html>
