/*
 * Copyright Simpolor
 */

/* ---- balloon ---- */
.pure-balloon {
    display: inline-block;
    position: relative;
    margin: 0 auto 10px;
    padding: 5px;
    background: #E0E0E0;
    border-radius: 2px;
}

.pure-balloon-top:after {
    content: '';
    position: absolute;
    left: 5px;
    top: -7px;
    border-bottom: 10px solid #E0E0E0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.pure-balloon-left:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -7px;
    border-top: 5px solid transparent;
    border-right: 10px solid #E0E0E0;
    border-bottom: 5px solid transparent;
}
.pure-balloon-right:after {
    content: '';
    position: absolute;
    top: 5px;
    right: -7px;
    border-top: 5px solid transparent;
    border-left: 10px solid #E0E0E0;
    border-bottom: 5px solid transparent;
}
.pure-balloon-bottom:after {
    content: '';
    position: absolute;
    left: 5px;
    bottom: -7px;
    border-top: 10px solid #E0E0E0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

/* ---- list ---- */
.pure-list {
    padding-left: 15px;
    line-height: 24px;
}

.pure-list-none {
    list-style: none;
    padding: 0;
}

/* ---- loader ---- */
.pure-loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ---- upload ---- */
.pure-upload {
    /* max-width: 300px; */
}
.pure-upload input[type="text"] {
    display: inline-block;
    margin: 0;
    width: 100%;

}
.pure-upload label {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    vertical-align: middle;
    background-color: #E6E6E6;
    border-radius: 2px;
    cursor: pointer;
}
.pure-upload input[type="file"] { /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* ---- pure-search ---- */
.pure-search {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #cbcbcb;
}

.pure-search select, .pure-search input, .pure-search button {
    margin: 15px 0;
}

.pure-search select {
    margin-left: 5px;
    width: 95%;
}

.pure-search input {
    width: 99%;
}

.pure-search button {
    width: 95%;
}