/*
 * Copyright Simpolor
 */

/* ---- pure-balloon ---- */
.pure-balloon {
    display: inline-block;
    position: relative;
    margin: 0 auto 10px;
    padding: 5px;
    background: #E0E0E0;
    border-radius: 2px;
}

.pure-balloon-top:after {
    content: '';
    position: absolute;
    left: 5px;
    top: -7px;
    border-bottom: 10px solid #E0E0E0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.pure-balloon-left:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -7px;
    border-top: 5px solid transparent;
    border-right: 10px solid #E0E0E0;
    border-bottom: 5px solid transparent;
}
.pure-balloon-right:after {
    content: '';
    position: absolute;
    top: 5px;
    right: -7px;
    border-top: 5px solid transparent;
    border-left: 10px solid #E0E0E0;
    border-bottom: 5px solid transparent;
}
.pure-balloon-bottom:after {
    content: '';
    position: absolute;
    left: 5px;
    bottom: -7px;
    border-top: 10px solid #E0E0E0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

/* ---- pure-list ---- */
.pure-list {
    padding-left: 15px;
    line-height: 24px;
}

.pure-list-none {
    list-style: none;
    padding: 0;
}

/* ---- loader ---- */
.pure-loader {
    display: inline-block;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ---- pure-upload ---- */
.pure-upload {
    width: 100%;
}
.pure-upload input[type="text"] {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 37px;

}
.pure-upload label {
    display: inline-block;
    margin: 0 0 0 5px;
    width: 95%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    vertical-align: middle;
    background-color: #E6E6E6;
    border-radius: 2px;
    cursor: pointer;
}
.pure-upload input[type="file"] { /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* ---- pure-search ---- */
.pure-search {
    width: 100%;
    border: 1px solid #cbcbcb;
    padding: 15px 0;
}
.pure-search select, .pure-search input, .pure-search button {
    height: 37px;
}
.pure-search select {
    float: right;
    margin-right: 5px;
    width: 90%;
}
.pure-search input {
    width: 100%;
}
.pure-search button {
    float: left;
    margin-left: 5px;
    width: 80%;
}

/* ---- pure-pagination ---- */
.pure-pagination {
    text-align: center;
    margin: 20px 0;
}
.pure-pagination a, .pure-pagination strong {
    display: inline-block;
    background: #FFF;
    margin-right: 3px;
    padding: 4px 13px;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;;
    text-decoration: none;
    color: #2E2E2E;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pure-pagination a:hover {
    background-color: #BEBEBE;
    color: #FFF;
}
.pure-pagination a:active {
    background: #D5D5D5;
}
.pure-pagination strong {
    color: #1f8dd6;
}

/* ---- pagination ---- */
.pure-pagination-o a, .pure-pagination-o strong {
    display: inline-block;
    background: #FFF;
    margin-right: 3px;
    padding: 7px 13px 3px;
    font-weight: lighter;
    line-height: 20px;;
    text-decoration: none;
    color: #2E2E2E;
    border: 1px solid #BDBDBD;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pure-pagination-o a:hover {
    background-color: #BEBEBE;
    color: #FFF;
}
.pure-pagination-o a:active {
    background: #D5D5D5;
}
.pure-pagination-o strong {
    color: #000;
    background-color: #D5D5D5;
}